/*critical and element styles*/
html {
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
input[type=button], button {
    cursor: pointer;
    cursor: hand;
    border-radius: 8px;
    border-width: 1px;
}
span{
    padding: 10px;
}

/*header*/
header{

}

/*swede view*/
.swede-view{
    height: 100%;
    position: absolute;
    width: 100%;
}